In [1]:
import pandas as pd

In [10]:
df_22 = pd.read_cvs("../data_files/22zpallagi.csv")
df_21 = pd.read_csv("../data_files/21zpallagi.csv")
df_20 = pd.read_csv("../data_files/20zpallagi.csv")
df_19 = pd.read_csv("../data_files/19zpallagi.csv")
df_20 = pd.read_csv("../data_files/20zpallagi.csv")
df_18 = pd.read_csv("../data_files/18zpallagi.csv")
df_17 = pd.read_csv("../data_files/17zpallagi.csv")
df_16 = pd.read_csv("../data_files/16zpallagi.csv")
df_15 = pd.read_csv("../data_files/15zpallagi.csv")
df_14 = pd.read_csv("../data_files/14zpallagi.csv")
df_13 = pd.read_csv("../data_files/13zpallagi.csv")
df_12 = pd.read_csv("../data_files/12zpallagi.csv")

In [4]:
#creating a function to drop unwanted columns for all dataframes
def drop_unwanted(df):
    columns_to_keep = [
    'STATE', 'zipcode', 'agi_stub', 'N1', 'mars1', 'MARS2', 'MARS4',
    'A00100', 'A02650', 'N01000', 'A01000', 'N02910', 'A02910',
    'N04470', 'A04470', 'N18300', 'A18300',
    'N19700', 'A19700'
    ]
    df_filtered = df[columns_to_keep]
    return df_filtered

In [16]:

#creating a function to rename all the columns for years 21/22 and multiply all monetary values by 1000
def rename_cols_21_22(df):
    #variable to map old names to new names
    column_map = {
    'STATE': 'State',
    'zipcode': 'Zip',
    'agi_stub': 'AGI_Range',
    'N1': 'Returns',
    'mars1': 'Single',
    'MARS2': 'Joint',
    'MARS4': 'Hd_of_Hshld',
    'A00100': 'AGI_Amt',
    'A02650': 'Total_Income',
    'N01000': 'Cap_Gain_Returns',
    'A01000': 'Cap_Gain_Amt',
    'N02910': 'Std_Ded_Charity_Returns',
    'A02910': 'Std_Ded_Charity_Amt',
    'N04470': 'Itemized_Ded_Returns',
    'A04470': 'Itemized_Ded_Amt',
    'N18300': 'Total_Taxes_Returns',
    'A18300': 'Total_Taxes_Amt',
    'N19700': 'Charitable_Returns',
    'A19700': 'Charitable_Amt'
    }
    #rename
    df = df.rename(columns=column_map)
    
    #multiply all monetary values by 1000, as the documentation indicated they should be read that way
    columns_to_multiply = ['AGI_Amt', 'Std_Ded_Charity_Amt','Itemized_Ded_Amt','Total_Taxes_Amt', 'Charitable_Amt' ]
    df[columns_to_multiply] = df[columns_to_multiply] * 1000

    #confirm
    df.head(3)
    return df

In [6]:
#function to rename the other df columnms
def rename_cols(df):
    #variable to map old names to new names
    column_map = {
    'STATE': 'State',
    'zipcode': 'Zip',
    'agi_stub': 'AGI_Range',
    'N1': 'Returns',
    'mars1': 'Single',
    'MARS2': 'Joint',
    'MARS4': 'Hd_of_Hshld',
    'A00100': 'AGI_Amt',
    'A02650': 'Total_Income',
    'N01000': 'Cap_Gain_Returns',
    'A01000': 'Cap_Gain_Amt',
    'N04470': 'Itemized_Ded_Returns',
    'A04470': 'Itemized_Ded_Amt',
    'N18300': 'Total_Taxes_Returns',
    'A18300': 'Total_Taxes_Amt',
    'N19700': 'Charitable_Returns',
    'A19700': 'Charitable_Amt'
    }
    #rename
    df = df.rename(columns=column_map)
    
    #multiply all monetary values by 1000, as the documentation indicated they should be read that way
    columns_to_multiply = ['AGI_Amt', 'Standar_Ded_Amt','Itemized_Ded_Amt', 'Total_Taxes_Amt', 'Charitable_Amt']
    df[columns_to_multiply] = df[columns_to_multiply] * 1000

    #confirm
    df.head(3)
    return df

In [17]:
#df_drop_21 = drop_unwanted(df_21)
df_rename_21 = rename_cols_21_22(df_drop_21)

In [12]:
df_drop_21.head()

,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,A00100,A02650,N01000,A01000,N02910,A02910,N04470,A04470,N18300,A18300,N19700,A19700
0,AL,0,1,720280.0,466930.0,75840.0,165330.0,9323038.0,9449210.0,37020.0,64524.0,144230.0,44886.0,5730.0,128977.0,5140.0,11450.0,3220.0,15322.0
1,AL,0,2,524160.0,264900.0,109720.0,134980.0,18959208.0,19094415.0,38080.0,128686.0,175220.0,58968.0,16580.0,405924.0,14970.0,44951.0,13240.0,95495.0
2,AL,0,3,291860.0,120090.0,116380.0,46410.0,17933235.0,18056325.0,39930.0,210305.0,125780.0,48181.0,19940.0,490744.0,19590.0,80438.0,17270.0,143381.0
3,AL,0,4,184320.0,48650.0,115740.0,16120.0,15990196.0,16092775.0,34910.0,265069.0,90460.0,40143.0,16140.0,431674.0,16010.0,80303.0,13430.0,133228.0
4,AL,0,5,287720.0,38750.0,234070.0,9640.0,39500365.0,39796286.0,89550.0,1420250.0,155360.0,75604.0,45690.0,1479337.0,45530.0,324664.0,41580.0,575382.0