In [1]:
import pandas as pd

In [4]:
df_21 = pd.read_csv("../data_files/21zpallagi.csv")
df_20 = pd.read_csv("../data_files/20zpallagi.csv")
df_19 = pd.read_csv("../data_files/19zpallagi.csv")
df_20 = pd.read_csv("../data_files/20zpallagi.csv")
df_18 = pd.read_csv("../data_files/18zpallagi.csv")
df_17 = pd.read_csv("../data_files/17zpallagi.csv")
df_16 = pd.read_csv("../data_files/16zpallagi.csv")
df_15 = pd.read_csv("../data_files/15zpallagi.csv")
df_14 = pd.read_csv("../data_files/14zpallagi.csv")
df_13 = pd.read_csv("../data_files/13zpallagi.csv")
df_12 = pd.read_csv("../data_files/12zpallagi.csv")

In [12]:
#creating a function to drop unwanted columns and unwanted rows for all dataframes
def drop_unwanted(df):
    #put columns in a list
    columns_to_keep = [
    'STATE', 'zipcode', 'agi_stub', 'N1', 'mars1', 'MARS2', 'MARS4',
    'A00100', 'A02650', 'N01000', 'A01000', 'N02910', 'A02910',
    'N04470', 'A04470', 'N18300', 'A18300',
    'N19700', 'A19700'
    ]
    #drop unwanted columns
    df_filtered = df[columns_to_keep]
    #drop unwanted rows
    no_zip_df = df_filtered.loc[(df.loc[:,'zipcode']==0)]
    
    return no_zip_df

In [6]:
#creating a function to rename all the columns for years 21/22 and multiply all monetary values by 1000
def rename_cols_20_21(df):
    #variable to map old names to new names
    column_map = {
    'STATE': 'State',
    'zipcode': 'Zip',
    'agi_stub': 'AGI_Range',
    'N1': 'Returns',
    'mars1': 'Single',
    'MARS2': 'Joint',
    'MARS4': 'Hd_of_Hshld',
    'A00100': 'AGI_Amt',
    'A02650': 'Total_Income',
    'N01000': 'Cap_Gain_Returns',
    'A01000': 'Cap_Gain_Amt',
    'N02910': 'Std_Ded_Charity_Returns',
    'A02910': 'Std_Ded_Charity_Amt',
    'N04470': 'Itemized_Ded_Returns',
    'A04470': 'Itemized_Ded_Amt',
    'N18300': 'Total_Taxes_Returns',
    'A18300': 'Total_Taxes_Amt',
    'N19700': 'Charitable_Returns',
    'A19700': 'Charitable_Amt'
    }
    #rename
    df = df.rename(columns=column_map)
    
    #multiply all monetary values by 1000, as the documentation indicated they should be read that way
    columns_to_multiply = ['AGI_Amt', 'Std_Ded_Charity_Amt','Itemized_Ded_Amt','Total_Taxes_Amt', 'Charitable_Amt' ]
    df[columns_to_multiply] = df[columns_to_multiply] * 1000

    #confirm
    df.head(3)
    return df

In [7]:
#function to rename the other df columnms
def rename_cols(df):
    #variable to map old names to new names
    column_map = {
    'STATE': 'State',
    'zipcode': 'Zip',
    'agi_stub': 'AGI_Range',
    'N1': 'Returns',
    'mars1': 'Single',
    'MARS2': 'Joint',
    'MARS4': 'Hd_of_Hshld',
    'A00100': 'AGI_Amt',
    'A02650': 'Total_Income',
    'N01000': 'Cap_Gain_Returns',
    'A01000': 'Cap_Gain_Amt',
    'N04470': 'Itemized_Ded_Returns',
    'A04470': 'Itemized_Ded_Amt',
    'N18300': 'Total_Taxes_Returns',
    'A18300': 'Total_Taxes_Amt',
    'N19700': 'Charitable_Returns',
    'A19700': 'Charitable_Amt'
    }
    #rename
    df = df.rename(columns=column_map)
    
    #multiply all monetary values by 1000, as the documentation indicated they should be read that way
    columns_to_multiply = ['AGI_Amt', 'Standar_Ded_Amt','Itemized_Ded_Amt', 'Total_Taxes_Amt', 'Charitable_Amt']
    df[columns_to_multiply] = df[columns_to_multiply] * 1000

    #confirm
    df.head(3)
    return df

In [14]:


dataframes_20_21 = [df_21, df_20]

for i, df in enumerate(dataframes_20_21, start=1):
    print(f"Now processing data frame {i}...")

    df_filtered = drop_unwanted(df)

    df_renamed = rename_cols_20_21(df_filtered)

    #print(df_renamed.head())
    
    dataframes_20_21[i-1] = df_renamed

Now processing data frame 1...
  State  Zip  AGI_Range   Returns    Single     Joint  Hd_of_Hshld  \
0    AL    0          1  720280.0  466930.0   75840.0     165330.0
1    AL    0          2  524160.0  264900.0  109720.0     134980.0
2    AL    0          3  291860.0  120090.0  116380.0      46410.0
3    AL    0          4  184320.0   48650.0  115740.0      16120.0
4    AL    0          5  287720.0   38750.0  234070.0       9640.0

        AGI_Amt  Total_Income  Cap_Gain_Returns  Cap_Gain_Amt  \
0  9.323038e+09     9449210.0           37020.0       64524.0
1  1.895921e+10    19094415.0           38080.0      128686.0
2  1.793324e+10    18056325.0           39930.0      210305.0
3  1.599020e+10    16092775.0           34910.0      265069.0
4  3.950036e+10    39796286.0           89550.0     1420250.0

   Std_Ded_Charity_Returns  Std_Ded_Charity_Amt  Itemized_Ded_Returns  \
0                 144230.0           44886000.0                5730.0
1                 175220.0           58968000.0               16580.0
2                 125780.0           48181000.0               19940.0
3                  90460.0           40143000.0               16140.0
4                 155360.0           75604000.0               45690.0

   Itemized_Ded_Amt  Total_Taxes_Returns  Total_Taxes_Amt  Charitable_Returns  \
0      1.289770e+08               5140.0       11450000.0              3220.0
1      4.059240e+08              14970.0       44951000.0             13240.0
2      4.907440e+08              19590.0       80438000.0             17270.0
3      4.316740e+08              16010.0       80303000.0             13430.0
4      1.479337e+09              45530.0      324664000.0             41580.0

   Charitable_Amt
0      15322000.0
1      95495000.0
2     143381000.0
3     133228000.0
4     575382000.0
Now processing data frame 2...
  State  Zip  AGI_Range   Returns    Single     Joint  Hd_of_Hshld  \
0    AL    0          1  785000.0  519980.0   85690.0     165290.0
1    AL    0          2  554310.0  270870.0  121420.0     146470.0
2    AL    0          3  290630.0  113280.0  124770.0      44570.0
3    AL    0          4  181010.0   42010.0  120820.0      14410.0
4    AL    0          5  269080.0   31310.0  224330.0       8270.0

        AGI_Amt  Total_Income  Cap_Gain_Returns  Cap_Gain_Amt  \
0  9.993188e+09    10172698.0           37450.0       38846.0
1  1.992613e+10    20123988.0           34800.0       83452.0
2  1.783696e+10    18005183.0           35550.0      129091.0
3  1.569616e+10    15830735.0           31160.0      161058.0
4  3.674700e+10    37080401.0           74540.0      788947.0

   Std_Ded_Charity_Returns  Std_Ded_Charity_Amt  Itemized_Ded_Returns  \
0                 138810.0           36490000.0                7860.0
1                 165870.0           44460000.0               19360.0
2                 117340.0           31764000.0               23300.0
3                  85140.0           23308000.0               18110.0
4                 137150.0           37865000.0               50590.0

   Itemized_Ded_Amt  Total_Taxes_Returns  Total_Taxes_Amt  Charitable_Returns  \
0      1.746580e+08               6520.0       14170000.0              4000.0
1      4.616980e+08              16590.0       50742000.0             14770.0
2      5.735030e+08              21760.0       88008000.0             18880.0
3      4.885770e+08              17160.0       87841000.0             14710.0
4      1.654328e+09              48610.0      352145000.0             44570.0

   Charitable_Amt
0      16766000.0
1     102291000.0
2     149195000.0
3     137475000.0
4     585092000.0

In [16]:
#df_20.head()
#df_21.head()

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,ELF,CPREP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
0,1,AL,0,1,720280.0,466930.0,75840.0,165330.0,677820.0,21700.0,...,0.0,0.0,42310.0,35969.0,632780.0,2182999.0,630530.0,2176448.0,2290.0,5215.0
1,1,AL,0,2,524160.0,264900.0,109720.0,134980.0,495550.0,14170.0,...,0.0,0.0,87370.0,115842.0,435160.0,1402396.0,432590.0,1393449.0,3100.0,7423.0
2,1,AL,0,3,291860.0,120090.0,116380.0,46410.0,275270.0,8580.0,...,0.0,0.0,79750.0,165576.0,212390.0,608660.0,209210.0,597461.0,4110.0,11648.0
3,1,AL,0,4,184320.0,48650.0,115740.0,16120.0,173910.0,4010.0,...,0.0,0.0,60450.0,172959.0,122910.0,409261.0,120020.0,397318.0,2690.0,12922.0
4,1,AL,0,5,287720.0,38750.0,234070.0,9640.0,272240.0,7750.0,...,110.0,34.0,128440.0,638854.0,159690.0,678251.0,152450.0,616679.0,8440.0,54805.0

In [ ]:
# code to loop through and apply changes to all df's
#list of dataframes to process
dataframe_list = [df_19, df_18, df_17, df_16, df_15, df_14, df_13, df_12]

#loop each df through the functions 
for i, df in enumerate(dataframe_list, start=1):
    print(f"Now processing data frame {i}...")

    df_filtered = drop_unwanted(df)

    df_renamed = rename_columns(df_filtered)

    print(df_renamed.head())
    
    dfs[i-1] = df_renamed

dataframes_21_22 = [df_21, df_20]
for i, df in enumerate(dataframe_list, start=1):
    print(f"Now processing data frame {i}...")

    df_filtered = drop_unwanted_20_21(df)

    df_renamed = rename_columns(df_filtered)

    print(df_renamed.head())
    
    dfs[i-1] = df_renamed

In [35]:
df_drop_21.head()

,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,A00100,A02650,N01000,A01000,N02910,A02910,N04470,A04470,N18300,A18300,N19700,A19700
0,AL,0,1,720280.0,466930.0,75840.0,165330.0,9323038.0,9449210.0,37020.0,64524.0,144230.0,44886.0,5730.0,128977.0,5140.0,11450.0,3220.0,15322.0
1,AL,0,2,524160.0,264900.0,109720.0,134980.0,18959208.0,19094415.0,38080.0,128686.0,175220.0,58968.0,16580.0,405924.0,14970.0,44951.0,13240.0,95495.0
2,AL,0,3,291860.0,120090.0,116380.0,46410.0,17933235.0,18056325.0,39930.0,210305.0,125780.0,48181.0,19940.0,490744.0,19590.0,80438.0,17270.0,143381.0
3,AL,0,4,184320.0,48650.0,115740.0,16120.0,15990196.0,16092775.0,34910.0,265069.0,90460.0,40143.0,16140.0,431674.0,16010.0,80303.0,13430.0,133228.0
4,AL,0,5,287720.0,38750.0,234070.0,9640.0,39500365.0,39796286.0,89550.0,1420250.0,155360.0,75604.0,45690.0,1479337.0,45530.0,324664.0,41580.0,575382.0

In [34]:
#df_drop_21.head()
#df_rename_21.head()
#df_no_zip = no_zips(df_rename_21)
df_no_zip.head()

,State,Zip,AGI_Range,Returns,Single,Joint,Hd_of_Hshld,AGI_Amt,Total_Income,Cap_Gain_Returns,Cap_Gain_Amt,Std_Ded_Charity_Returns,Std_Ded_Charity_Amt,Itemized_Ded_Returns,Itemized_Ded_Amt,Total_Taxes_Returns,Total_Taxes_Amt,Charitable_Returns,Charitable_Amt
0,AL,0,1,720280.0,466930.0,75840.0,165330.0,9.323038e+09,9449210.0,37020.0,64524.0,144230.0,44886000.0,5730.0,1.289770e+08,5140.0,11450000.0,3220.0,15322000.0
1,AL,0,2,524160.0,264900.0,109720.0,134980.0,1.895921e+10,19094415.0,38080.0,128686.0,175220.0,58968000.0,16580.0,4.059240e+08,14970.0,44951000.0,13240.0,95495000.0
2,AL,0,3,291860.0,120090.0,116380.0,46410.0,1.793324e+10,18056325.0,39930.0,210305.0,125780.0,48181000.0,19940.0,4.907440e+08,19590.0,80438000.0,17270.0,143381000.0
3,AL,0,4,184320.0,48650.0,115740.0,16120.0,1.599020e+10,16092775.0,34910.0,265069.0,90460.0,40143000.0,16140.0,4.316740e+08,16010.0,80303000.0,13430.0,133228000.0
4,AL,0,5,287720.0,38750.0,234070.0,9640.0,3.950036e+10,39796286.0,89550.0,1420250.0,155360.0,75604000.0,45690.0,1.479337e+09,45530.0,324664000.0,41580.0,575382000.0