In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../GroupProjects/21zpallagi.csv")
df.head()

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,ELF,CPREP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
0,1,AL,0,1,720280.0,466930.0,75840.0,165330.0,677820.0,21700.0,...,0.0,0.0,42310.0,35969.0,632780.0,2182999.0,630530.0,2176448.0,2290.0,5215.0
1,1,AL,0,2,524160.0,264900.0,109720.0,134980.0,495550.0,14170.0,...,0.0,0.0,87370.0,115842.0,435160.0,1402396.0,432590.0,1393449.0,3100.0,7423.0
2,1,AL,0,3,291860.0,120090.0,116380.0,46410.0,275270.0,8580.0,...,0.0,0.0,79750.0,165576.0,212390.0,608660.0,209210.0,597461.0,4110.0,11648.0
3,1,AL,0,4,184320.0,48650.0,115740.0,16120.0,173910.0,4010.0,...,0.0,0.0,60450.0,172959.0,122910.0,409261.0,120020.0,397318.0,2690.0,12922.0
4,1,AL,0,5,287720.0,38750.0,234070.0,9640.0,272240.0,7750.0,...,110.0,34.0,128440.0,638854.0,159690.0,678251.0,152450.0,616679.0,8440.0,54805.0

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
files = range(12,22)

complete_df = pd.DataFrame()

for file in files:
    df = pd.read_csv(f"../../GroupProjects/{file}zpallagi.csv")
    df1 = df[df.zipcode==0]
    df1['year'] = f'20{file}'
    complete_df = pd.concat([complete_df,df1]) 
    print(f'{file}zpallagi.csv: {df1.shape}')
complete_df.set_index('year', inplace=True)
complete_df[:5]

12zpallagi.csv: (306, 78)
13zpallagi.csv: (306, 115)
14zpallagi.csv: (306, 128)
15zpallagi.csv: (306, 132)
16zpallagi.csv: (306, 148)
17zpallagi.csv: (306, 154)
18zpallagi.csv: (306, 154)
19zpallagi.csv: (306, 153)
20zpallagi.csv: (306, 166)
21zpallagi.csv: (306, 168)

,STATEFIPS,STATE,zipcode,AGI_STUB,N1,MARS1,MARS2,MARS4,PREP,N2,...,N10970,A10970,N10971,A10971,N10973,A10973,N11520,A11520,N11530,A11530
year,,,,,,,,,,,,,,,,,,,,,
2012,1,AL,0,1.0,889920.0,490850.0,129070.0,256900.0,526740.0,1505430.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,1,AL,0,2.0,491150.0,194370.0,159200.0,123350.0,293480.0,1034650.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,1,AL,0,3.0,254280.0,68160.0,148960.0,31480.0,157230.0,591880.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,1,AL,0,4.0,160160.0,23020.0,126140.0,9030.0,97620.0,420830.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,1,AL,0,5.0,183320.0,15880.0,161260.0,4890.0,110520.0,517060.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Dictionary mapping original column names to shorter names
column_names = {
    'STATE': 'State',
    'zipcode': 'Zip',
    'N1': 'Returns',
    'mars1': 'Single',
    'MARS2': 'Joint',
    'MARS4': 'Hd_of_Hshld',
    'A00100': 'AGI_Amt',
    'N02910': 'Std_Ded_Charity_Returns',
    'A02910': 'Std_Ded_Charity_Amt',
    'N04450': 'Std_Ded_Returns',
    'A04450': 'Std_Ded_Amt',
    'N04470': 'Itemized_Ded_Returns',
    'A04470': 'Itemized_Ded_Amt',
    'N19700': 'Charitable_Returns',
    'A19700': 'Charitable_Amt'
}

# Rename columns
renaming_df = complete_df.rename(columns=column_names)


renaming_df.head(10)

,STATEFIPS,State,Zip,AGI_STUB,Returns,MARS1,Joint,Hd_of_Hshld,PREP,N2,...,A10970,N10971,A10971,N10973,A10973,N11520,A11520,N11530,A11530,new_agi_stub
year,,,,,,,,,,,,,,,,,,,,,
2012,1,AL,0,1.0,889920.0,490850.0,129070.0,256900.0,526740.0,1505430.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2012,1,AL,0,2.0,491150.0,194370.0,159200.0,123350.0,293480.0,1034650.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2012,1,AL,0,3.0,254280.0,68160.0,148960.0,31480.0,157230.0,591880.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
2012,1,AL,0,4.0,160160.0,23020.0,126140.0,9030.0,97620.0,420830.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
2012,1,AL,0,5.0,183320.0,15880.0,161260.0,4890.0,110520.0,517060.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
2012,1,AL,0,6.0,44840.0,3420.0,40370.0,750.0,34650.0,132000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
2012,2,AK,0,1.0,128930.0,98750.0,13120.0,13880.0,47340.0,154520.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2012,2,AK,0,2.0,80860.0,44370.0,20740.0,12860.0,31930.0,151400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2012,2,AK,0,3.0,51160.0,21860.0,22000.0,5840.0,22760.0,108450.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
2012,2,AK,0,4.0,35010.0,9740.0,22250.0,2460.0,16930.0,85510.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0

In [17]:
renaming_df['new_agi_stub'] = renaming_df.AGI_STUB.fillna(0) + renaming_df.agi_stub.fillna(0)

In [18]:
renaming_df[['AGI_STUB','agi_stub','new_agi_stub']]

      AGI_STUB  agi_stub  new_agi_stub
year
2012       1.0       NaN           1.0
2012       2.0       NaN           2.0
2012       3.0       NaN           3.0
2012       4.0       NaN           4.0
2012       5.0       NaN           5.0
...        ...       ...           ...
2021       NaN       2.0           2.0
2021       NaN       3.0           3.0
2021       NaN       4.0           4.0
2021       NaN       5.0           5.0
2021       NaN       6.0           6.0

[3060 rows x 3 columns]

In [19]:
columns_to_keep = [
    'State', 'Zip', 'new_agi_stub', 'Returns', 'Single', 'Joint', 'Hd_of_Hshld', 'AGI_Amt',
    'Std_Ded_Charity_Returns', 'Std_Ded_Charity_Amt', 'Std_Ded_Returns', 'Std_Ded_Amt',
    'Itemized_Ded_Returns', 'Itemized_Ded_Amt', 'Charitable_Returns', 'Charitable_Amt'
]

In [20]:
filtered_df = renaming_df[columns_to_keep]
print(filtered_df)
filtered_df[:5]

     State  Zip  new_agi_stub   Returns   Single     Joint  Hd_of_Hshld  \
year
2012    AL    0           1.0  889920.0      NaN  129070.0     256900.0
2012    AL    0           2.0  491150.0      NaN  159200.0     123350.0
2012    AL    0           3.0  254280.0      NaN  148960.0      31480.0
2012    AL    0           4.0  160160.0      NaN  126140.0       9030.0
2012    AL    0           5.0  183320.0      NaN  161260.0       4890.0
...    ...  ...           ...       ...      ...       ...          ...
2021    WY    0           2.0   62380.0  37690.0   13720.0       9640.0
2021    WY    0           3.0   41880.0  19230.0   17470.0       4140.0
2021    WY    0           4.0   29940.0   8390.0   18900.0       2000.0
2021    WY    0           5.0   48470.0   6940.0   39750.0       1270.0
2021    WY    0           6.0   16510.0   2320.0   13250.0         90.0

         AGI_Amt  Std_Ded_Charity_Returns  Std_Ded_Charity_Amt  \
year
2012  11517112.0                      NaN                  NaN
2012  17617800.0                      NaN                  NaN
2012  15644666.0                      NaN                  NaN
2012  13885434.0                      NaN                  NaN
2012  24641055.0                      NaN                  NaN
...          ...                      ...                  ...
2021   2285287.0                  13910.0               4413.0
2021   2589462.0                  12900.0               4808.0
2021   2607510.0                  10260.0               4350.0
2021   6638046.0                  21030.0               9827.0
2021  16440472.0                   6700.0               3291.0

      Std_Ded_Returns  Std_Ded_Amt  Itemized_Ded_Returns  Itemized_Ded_Amt  \
year
2012              NaN          NaN               62120.0          850798.0
2012              NaN          NaN              129230.0         1914481.0
2012              NaN          NaN              112550.0         1914831.0
2012              NaN          NaN               91800.0         1770415.0
2012              NaN          NaN              141580.0         3383365.0
...               ...          ...                   ...               ...
2021          61080.0    1012492.0                1420.0           39196.0
2021          40230.0     761153.0                1670.0           46867.0
2021          28260.0     612601.0                1510.0           44815.0
2021          44610.0    1059121.0                3770.0          136387.0
2021          10920.0     261640.0                5080.0          806565.0

      Charitable_Returns  Charitable_Amt
year
2012             46490.0        121095.0
2012            103450.0        358997.0
2012             96530.0        404644.0
2012             81870.0        406140.0
2012            131170.0        849342.0
...                  ...             ...
2021               880.0          4704.0
2021              1170.0          9373.0
2021               820.0          7024.0
2021              3170.0         43246.0
2021              4550.0        571537.0

[3060 rows x 16 columns]

,State,Zip,new_agi_stub,Returns,Single,Joint,Hd_of_Hshld,AGI_Amt,Std_Ded_Charity_Returns,Std_Ded_Charity_Amt,Std_Ded_Returns,Std_Ded_Amt,Itemized_Ded_Returns,Itemized_Ded_Amt,Charitable_Returns,Charitable_Amt
year,,,,,,,,,,,,,,,,
2012,AL,0,1.0,889920.0,NaN,129070.0,256900.0,11517112.0,NaN,NaN,NaN,NaN,62120.0,850798.0,46490.0,121095.0
2012,AL,0,2.0,491150.0,NaN,159200.0,123350.0,17617800.0,NaN,NaN,NaN,NaN,129230.0,1914481.0,103450.0,358997.0
2012,AL,0,3.0,254280.0,NaN,148960.0,31480.0,15644666.0,NaN,NaN,NaN,NaN,112550.0,1914831.0,96530.0,404644.0
2012,AL,0,4.0,160160.0,NaN,126140.0,9030.0,13885434.0,NaN,NaN,NaN,NaN,91800.0,1770415.0,81870.0,406140.0
2012,AL,0,5.0,183320.0,NaN,161260.0,4890.0,24641055.0,NaN,NaN,NaN,NaN,141580.0,3383365.0,131170.0,849342.0

In [23]:
print(filtered_df.columns)

Index(['State', 'Zip', 'new_agi_stub', 'Returns', 'Single', 'Joint',
       'Hd_of_Hshld', 'AGI_Amt', 'Std_Ded_Charity_Returns',
       'Std_Ded_Charity_Amt', 'Std_Ded_Returns', 'Std_Ded_Amt',
       'Itemized_Ded_Returns', 'Itemized_Ded_Amt', 'Charitable_Returns',
       'Charitable_Amt'],
      dtype='object')

In [24]:
for i,data in enumerate(filtered_df):
    print('\n')
    for col in columns_to_keep:
        if col not in data:
            print(f'{i+12}zpallagi.csv is missing column {col}')

12zpallagi.csv is missing column Zip
12zpallagi.csv is missing column new_agi_stub
12zpallagi.csv is missing column Returns
12zpallagi.csv is missing column Single
12zpallagi.csv is missing column Joint
12zpallagi.csv is missing column Hd_of_Hshld
12zpallagi.csv is missing column AGI_Amt
12zpallagi.csv is missing column Std_Ded_Charity_Returns
12zpallagi.csv is missing column Std_Ded_Charity_Amt
12zpallagi.csv is missing column Std_Ded_Returns
12zpallagi.csv is missing column Std_Ded_Amt
12zpallagi.csv is missing column Itemized_Ded_Returns
12zpallagi.csv is missing column Itemized_Ded_Amt
12zpallagi.csv is missing column Charitable_Returns
12zpallagi.csv is missing column Charitable_Amt


13zpallagi.csv is missing column State
13zpallagi.csv is missing column new_agi_stub
13zpallagi.csv is missing column Returns
13zpallagi.csv is missing column Single
13zpallagi.csv is missing column Joint
13zpallagi.csv is missing column Hd_of_Hshld
13zpallagi.csv is missing column AGI_Amt
13zpallagi.csv is missing column Std_Ded_Charity_Returns
13zpallagi.csv is missing column Std_Ded_Charity_Amt
13zpallagi.csv is missing column Std_Ded_Returns
13zpallagi.csv is missing column Std_Ded_Amt
13zpallagi.csv is missing column Itemized_Ded_Returns
13zpallagi.csv is missing column Itemized_Ded_Amt
13zpallagi.csv is missing column Charitable_Returns
13zpallagi.csv is missing column Charitable_Amt


14zpallagi.csv is missing column State
14zpallagi.csv is missing column Zip
14zpallagi.csv is missing column Returns
14zpallagi.csv is missing column Single
14zpallagi.csv is missing column Joint
14zpallagi.csv is missing column Hd_of_Hshld
14zpallagi.csv is missing column AGI_Amt
14zpallagi.csv is missing column Std_Ded_Charity_Returns
14zpallagi.csv is missing column Std_Ded_Charity_Amt
14zpallagi.csv is missing column Std_Ded_Returns
14zpallagi.csv is missing column Std_Ded_Amt
14zpallagi.csv is missing column Itemized_Ded_Returns
14zpallagi.csv is missing column Itemized_Ded_Amt
14zpallagi.csv is missing column Charitable_Returns
14zpallagi.csv is missing column Charitable_Amt


15zpallagi.csv is missing column State
15zpallagi.csv is missing column Zip
15zpallagi.csv is missing column new_agi_stub
15zpallagi.csv is missing column Single
15zpallagi.csv is missing column Joint
15zpallagi.csv is missing column Hd_of_Hshld
15zpallagi.csv is missing column AGI_Amt
15zpallagi.csv is missing column Std_Ded_Charity_Returns
15zpallagi.csv is missing column Std_Ded_Charity_Amt
15zpallagi.csv is missing column Std_Ded_Returns
15zpallagi.csv is missing column Std_Ded_Amt
15zpallagi.csv is missing column Itemized_Ded_Returns
15zpallagi.csv is missing column Itemized_Ded_Amt
15zpallagi.csv is missing column Charitable_Returns
15zpallagi.csv is missing column Charitable_Amt


16zpallagi.csv is missing column State
16zpallagi.csv is missing column Zip
16zpallagi.csv is missing column new_agi_stub
16zpallagi.csv is missing column Returns
16zpallagi.csv is missing column Joint
16zpallagi.csv is missing column Hd_of_Hshld
16zpallagi.csv is missing column AGI_Amt
16zpallagi.csv is missing column Std_Ded_Charity_Returns
16zpallagi.csv is missing column Std_Ded_Charity_Amt
16zpallagi.csv is missing column Std_Ded_Returns
16zpallagi.csv is missing column Std_Ded_Amt
16zpallagi.csv is missing column Itemized_Ded_Returns
16zpallagi.csv is missing column Itemized_Ded_Amt
16zpallagi.csv is missing column Charitable_Returns
16zpallagi.csv is missing column Charitable_Amt


17zpallagi.csv is missing column State
17zpallagi.csv is missing column Zip
17zpallagi.csv is missing column new_agi_stub
17zpallagi.csv is missing column Returns
17zpallagi.csv is missing column Single
17zpallagi.csv is missing column Hd_of_Hshld
17zpallagi.csv is missing column AGI_Amt
17zpallagi.csv is missing column Std_Ded_Charity_Returns
17zpallagi.csv is missing column Std_Ded_Charity_Amt
17zpallagi.csv is missing column Std_Ded_Returns
17zpallagi.csv is missing column Std_Ded_Amt
17zpallagi.csv is missing column Itemized_Ded_Returns
17zpallagi.csv is missing column Itemized_Ded_Amt
17zpallagi.csv is missing column Charitable_Returns
17zpallagi.csv is missing column Charitable_Amt


18zpallagi.csv is missing column State
18zpallagi.csv is missing column Zip
18zpallagi.csv is missing column new_agi_stub
18zpallagi.csv is missing column Returns
18zpallagi.csv is missing column Single
18zpallagi.csv is missing column Joint
18zpallagi.csv is missing column AGI_Amt
18zpallagi.csv is missing column Std_Ded_Charity_Returns
18zpallagi.csv is missing column Std_Ded_Charity_Amt
18zpallagi.csv is missing column Std_Ded_Returns
18zpallagi.csv is missing column Std_Ded_Amt
18zpallagi.csv is missing column Itemized_Ded_Returns
18zpallagi.csv is missing column Itemized_Ded_Amt
18zpallagi.csv is missing column Charitable_Returns
18zpallagi.csv is missing column Charitable_Amt


19zpallagi.csv is missing column State
19zpallagi.csv is missing column Zip
19zpallagi.csv is missing column new_agi_stub
19zpallagi.csv is missing column Returns
19zpallagi.csv is missing column Single
19zpallagi.csv is missing column Joint
19zpallagi.csv is missing column Hd_of_Hshld
19zpallagi.csv is missing column Std_Ded_Charity_Returns
19zpallagi.csv is missing column Std_Ded_Charity_Amt
19zpallagi.csv is missing column Std_Ded_Returns
19zpallagi.csv is missing column Std_Ded_Amt
19zpallagi.csv is missing column Itemized_Ded_Returns
19zpallagi.csv is missing column Itemized_Ded_Amt
19zpallagi.csv is missing column Charitable_Returns
19zpallagi.csv is missing column Charitable_Amt


20zpallagi.csv is missing column State
20zpallagi.csv is missing column Zip
20zpallagi.csv is missing column new_agi_stub
20zpallagi.csv is missing column Single
20zpallagi.csv is missing column Joint
20zpallagi.csv is missing column Hd_of_Hshld
20zpallagi.csv is missing column AGI_Amt
20zpallagi.csv is missing column Std_Ded_Charity_Amt
20zpallagi.csv is missing column Std_Ded_Returns
20zpallagi.csv is missing column Std_Ded_Amt
20zpallagi.csv is missing column Itemized_Ded_Returns
20zpallagi.csv is missing column Itemized_Ded_Amt
20zpallagi.csv is missing column Charitable_Returns
20zpallagi.csv is missing column Charitable_Amt


21zpallagi.csv is missing column State
21zpallagi.csv is missing column Zip
21zpallagi.csv is missing column new_agi_stub
21zpallagi.csv is missing column Returns
21zpallagi.csv is missing column Single
21zpallagi.csv is missing column Joint
21zpallagi.csv is missing column Hd_of_Hshld
21zpallagi.csv is missing column AGI_Amt
21zpallagi.csv is missing column Std_Ded_Charity_Returns
21zpallagi.csv is missing column Std_Ded_Returns
21zpallagi.csv is missing column Std_Ded_Amt
21zpallagi.csv is missing column Itemized_Ded_Returns
21zpallagi.csv is missing column Itemized_Ded_Amt
21zpallagi.csv is missing column Charitable_Returns
21zpallagi.csv is missing column Charitable_Amt


22zpallagi.csv is missing column State
22zpallagi.csv is missing column Zip
22zpallagi.csv is missing column new_agi_stub
22zpallagi.csv is missing column Single
22zpallagi.csv is missing column Joint
22zpallagi.csv is missing column Hd_of_Hshld
22zpallagi.csv is missing column AGI_Amt
22zpallagi.csv is missing column Std_Ded_Charity_Returns
22zpallagi.csv is missing column Std_Ded_Charity_Amt
22zpallagi.csv is missing column Std_Ded_Amt
22zpallagi.csv is missing column Itemized_Ded_Returns
22zpallagi.csv is missing column Itemized_Ded_Amt
22zpallagi.csv is missing column Charitable_Returns
22zpallagi.csv is missing column Charitable_Amt


23zpallagi.csv is missing column State
23zpallagi.csv is missing column Zip
23zpallagi.csv is missing column new_agi_stub
23zpallagi.csv is missing column Returns
23zpallagi.csv is missing column Single
23zpallagi.csv is missing column Joint
23zpallagi.csv is missing column Hd_of_Hshld
23zpallagi.csv is missing column AGI_Amt
23zpallagi.csv is missing column Std_Ded_Charity_Returns
23zpallagi.csv is missing column Std_Ded_Charity_Amt
23zpallagi.csv is missing column Std_Ded_Returns
23zpallagi.csv is missing column Itemized_Ded_Returns
23zpallagi.csv is missing column Itemized_Ded_Amt
23zpallagi.csv is missing column Charitable_Returns
23zpallagi.csv is missing column Charitable_Amt


24zpallagi.csv is missing column State
24zpallagi.csv is missing column Zip
24zpallagi.csv is missing column new_agi_stub
24zpallagi.csv is missing column Single
24zpallagi.csv is missing column Joint
24zpallagi.csv is missing column Hd_of_Hshld
24zpallagi.csv is missing column AGI_Amt
24zpallagi.csv is missing column Std_Ded_Charity_Returns
24zpallagi.csv is missing column Std_Ded_Charity_Amt
24zpallagi.csv is missing column Std_Ded_Returns
24zpallagi.csv is missing column Std_Ded_Amt
24zpallagi.csv is missing column Itemized_Ded_Amt
24zpallagi.csv is missing column Charitable_Returns
24zpallagi.csv is missing column Charitable_Amt


25zpallagi.csv is missing column State
25zpallagi.csv is missing column Zip
25zpallagi.csv is missing column new_agi_stub
25zpallagi.csv is missing column Returns
25zpallagi.csv is missing column Single
25zpallagi.csv is missing column Joint
25zpallagi.csv is missing column Hd_of_Hshld
25zpallagi.csv is missing column AGI_Amt
25zpallagi.csv is missing column Std_Ded_Charity_Returns
25zpallagi.csv is missing column Std_Ded_Charity_Amt
25zpallagi.csv is missing column Std_Ded_Returns
25zpallagi.csv is missing column Std_Ded_Amt
25zpallagi.csv is missing column Itemized_Ded_Returns
25zpallagi.csv is missing column Charitable_Returns
25zpallagi.csv is missing column Charitable_Amt


26zpallagi.csv is missing column State
26zpallagi.csv is missing column Zip
26zpallagi.csv is missing column new_agi_stub
26zpallagi.csv is missing column Single
26zpallagi.csv is missing column Joint
26zpallagi.csv is missing column Hd_of_Hshld
26zpallagi.csv is missing column AGI_Amt
26zpallagi.csv is missing column Std_Ded_Charity_Returns
26zpallagi.csv is missing column Std_Ded_Charity_Amt
26zpallagi.csv is missing column Std_Ded_Returns
26zpallagi.csv is missing column Std_Ded_Amt
26zpallagi.csv is missing column Itemized_Ded_Returns
26zpallagi.csv is missing column Itemized_Ded_Amt
26zpallagi.csv is missing column Charitable_Amt


27zpallagi.csv is missing column State
27zpallagi.csv is missing column Zip
27zpallagi.csv is missing column new_agi_stub
27zpallagi.csv is missing column Returns
27zpallagi.csv is missing column Single
27zpallagi.csv is missing column Joint
27zpallagi.csv is missing column Hd_of_Hshld
27zpallagi.csv is missing column AGI_Amt
27zpallagi.csv is missing column Std_Ded_Charity_Returns
27zpallagi.csv is missing column Std_Ded_Charity_Amt
27zpallagi.csv is missing column Std_Ded_Returns
27zpallagi.csv is missing column Std_Ded_Amt
27zpallagi.csv is missing column Itemized_Ded_Returns
27zpallagi.csv is missing column Itemized_Ded_Amt
27zpallagi.csv is missing column Charitable_Returns

In [ ]:
# comp_df = pd.concat(complete_data)
# print(comp_df.shape)
# comp_df.head()

In [ ]:
# for col in comp_df.columns:
#     print(col)

In [ ]:
# df1[['Std_Ded_Charity_Returns', 'Std_Ded_Charity_Amt',
#       'Charitable_Returns', 'Charitable_Amt']].plot.bar()

In [ ]:
# df1[['Std_Ded_Charity_Amt','Charitable_Amt']].plot.bar()

In [ ]:
# df_count = df1[['State', 'AGI_Range2', 'Returns', 'Single', 'Joint', 'Hd_of_Hshld',
#        'Cap_Gain_Returns', 'Std_Ded_Charity_Returns', 
#        'Itemized_Ded_Returns', 'Total_Taxes_Returns',
#        'Charitable_Returns']]

# df_count.head()

In [ ]:

# df_amt=df1[['State', 'AGI_Range2', 'AGI_Amt', 'Total_Income', 'Cap_Gain_Amt',
#        'Std_Ded_Charity_Amt', 'Itemized_Ded_Amt', 'Total_Taxes_Amt', 'Charitable_Amt']]
# df_amt.head()

In [ ]:
# df1['$$ avg_charitable_amt'] = (df_amt['Charitable_Amt']/df_count['Charitable_Returns']) 

# df1.head()