In [2]:
import pandas as pd
import altair as alt

In [3]:
df_21 = pd.read_csv("../data_files/21zpallagi.csv")
df_20 = pd.read_csv("../data_files/20zpallagi.csv")
df_19 = pd.read_csv("../data_files/19zpallagi.csv")
df_20 = pd.read_csv("../data_files/20zpallagi.csv")
df_18 = pd.read_csv("../data_files/18zpallagi.csv")
df_17 = pd.read_csv("../data_files/17zpallagi.csv")
df_16 = pd.read_csv("../data_files/16zpallagi.csv")
df_15 = pd.read_csv("../data_files/15zpallagi.csv")
df_14 = pd.read_csv("../data_files/14zpallagi.csv")
df_13 = pd.read_csv("../data_files/13zpallagi.csv")
#df_12 = pd.read_csv("../data_files/12zpallagi.csv")

In [3]:
#creating a function to drop unwanted columns and unwanted rows for all dataframes
def drop_unwanted(df):
    #put columns in a list
    columns_to_keep = [
    'STATE', 'ZIPCODE', 'AGI_STUB', 'N1', 'MARS1', 'MARS2', 'MARS4',
    'A00100', 'A02650', 'N01000', 'A01000', 'N02910', 'A02910',
    'N04470', 'A04470', 'N18300', 'A18300',
    'N19700', 'A19700'
    ]
    #drop unwanted columns
    existing_columns = [col for col in columns_to_keep if col in df.columns]
    df = df[existing_columns]

    # Print missing columns 
    missing_columns = [col for col in columns_to_keep if col not in df.columns]
    if missing_columns:
        print(f"Skipping non-existent columns: {missing_columns}")

    return df

In [4]:
#function to rename the df columnms
def rename_cols(df):
    #variable to map old names to new names
    column_map = {
    'STATE': 'State',
    'zipcode': 'Zip',
    'agi_stub': 'AGI_Range',
    'N1': 'Returns',
    'mars1': 'Single',
    'MARS2': 'Joint',
    'MARS4': 'Hd_of_Hshld',
    'A00100': 'AGI_Amt',
    'A02650': 'Total_Income',
    'N01000': 'Cap_Gain_Returns',
    'A01000': 'Cap_Gain_Amt',
    'N02910': 'Std_Ded_Charity_Returns',
    'A02910': 'Std_Ded_Charity_Amt',
    'N04470': 'Itemized_Ded_Returns',
    'A04470': 'Itemized_Ded_Amt',
    'N18300': 'Total_Taxes_Returns',
    'A18300': 'Total_Taxes_Amt',
    'N19700': 'Charitable_Returns',
    'A19700': 'Charitable_Amt'
    }
    #rename
    try:
        # Rename columns based on the mapping dictionary (if columns exist in the DataFrame)
        df = df.rename(columns=column_map)
    except KeyError as e:
        missing_columns = [col for col in column_map.keys() if col not in df.columns]
        print(f"Skipping non-existent columns during renaming: {missing_columns}")

    
    columns_to_multiply = ['AGI_Amt', 'Standar_Ded_Amt', 'Itemized_Ded_Amt', 'Total_Taxes_Amt', 'Charitable_Amt']
    
    try:
        # Multiply monetary columns by 1000 (if columns exist in the DataFrame)
        df[columns_to_multiply] = df[columns_to_multiply] * 1000
    except KeyError as e:
        missing_columns = [col for col in columns_to_multiply if col not in df.columns]
        print(f"Skipping non-existent columns: {missing_columns}")

    return df

In [ ]:
def calculate_average_charitable_contributions(df):
    try:
        df['Avg_Std_Ded_Char_Amt'] = (df['Std_Ded_Charity_Returns']/ df['Std_Ded_Charity_Amt'])]

    except KeyError:
        print("Warning: Standard deduction columns not found. Skipping standard deduction calculations.")
        std_ded_avg = pd.DataFrame()  # Create an empty DataFrame for standard deduction

    try:
        df['Itm_Avg_Char_Amt'] = (df['Itemized_Ded_Returns']/df['Itemized_Ded_Amt'])

In [5]:
def calculate_average_charitable_contributions(df):

    # Attempt to process standard deduction returns
   # try:
    ##   df['Avg_Char_Amt_St.'] = (df['Charitable_Returns']/ df['Charitable_Amt'])
    
        #std_ded_avg = std_ded_df.groupby(['State', 'AGI_Range'])['Charitable_Amt'].mean().reset_index()
        #std_ded_avg['Deduction_Type'] = 'Standard'  # Add column for deduction type
    #    std_ded_avg['Average_Charitable_Contribution'] = std_ded_avg['Charitable_Amt']  # Add column for average contribution
    #except KeyError:
     #   print("Warning: Standard deduction columns not found. Skipping standard deduction calculations.")
      #  std_ded_avg = pd.DataFrame()  # Create an empty DataFrame for standard deduction
    
    # Attempt to process itemized deduction returns
    #try:
     #   itemized_ded_df = df[df['Itemized_Ded_Returns'] > 0]  # Filter for itemized deduction returns
        #itemized_ded_avg = itemized_ded_df.groupby(['State', 'AGI_Range'])['Charitable_Amt'].mean().reset_index()
      #  itemized_ded_avg['Deduction_Type'] = 'Itemized'  # Add column for deduction type
        #itemized_ded_avg['Average_Charitable_Contribution'] = itemized_ded_avg['Charitable_Amt']  # Add column for average contribution
    #except KeyError:
    #    print("Warning: Itemized deduction columns not found. Skipping itemized deduction calculations.")
     #   itemized_ded_avg = pd.DataFrame()  # Create an empty DataFrame for itemized deduction
#----------------------------
    # Concatenate results while filtering out empty DataFrames
  #  results = []
   # if not std_ded_avg.empty:
    #    results.append(std_ded_avg)
    #if not itemized_ded_avg.empty:
     #   results.append(itemized_ded_avg)
    
    #if results:
     #   avg_charitable_contributions = pd.concat(results, ignore_index=True)
    #else:
     #   avg_charitable_contributions = pd.DataFrame()  # Return empty DataFrame if no valid results
    
    #return avg_charitable_contributions

In [8]:
#function to route other df's through other functions

def route_through_2(df):

    processed_df = drop_unwanted(df)
    renamed_df = rename_cols (processed_df)
    tidy_df = calculate_average_charitable_contributions(renamed_df)
    return tidy_df

In [15]:
df_21.head()

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,ELF,CPREP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
0,1,AL,0,1,720280.0,466930.0,75840.0,165330.0,677820.0,21700.0,...,0.0,0.0,42310.0,35969.0,632780.0,2182999.0,630530.0,2176448.0,2290.0,5215.0
1,1,AL,0,2,524160.0,264900.0,109720.0,134980.0,495550.0,14170.0,...,0.0,0.0,87370.0,115842.0,435160.0,1402396.0,432590.0,1393449.0,3100.0,7423.0
2,1,AL,0,3,291860.0,120090.0,116380.0,46410.0,275270.0,8580.0,...,0.0,0.0,79750.0,165576.0,212390.0,608660.0,209210.0,597461.0,4110.0,11648.0
3,1,AL,0,4,184320.0,48650.0,115740.0,16120.0,173910.0,4010.0,...,0.0,0.0,60450.0,172959.0,122910.0,409261.0,120020.0,397318.0,2690.0,12922.0
4,1,AL,0,5,287720.0,38750.0,234070.0,9640.0,272240.0,7750.0,...,110.0,34.0,128440.0,638854.0,159690.0,678251.0,152450.0,616679.0,8440.0,54805.0

In [12]:
#list comprehension to run df's through functions
df_list = [df_21,df_20,df_19,df_18,df_17,df_16,df_15,df_14,df_13,df_12]
processed_dfs = [route_through_2(df)for df in df_list]

Skipping non-existent columns: ['Standar_Ded_Amt']
Skipping non-existent columns: ['Standar_Ded_Amt']
Skipping non-existent columns: ['N02910', 'A02910']
Skipping non-existent columns: ['Standar_Ded_Amt']
Warning: Standard deduction columns not found. Skipping standard deduction calculations.
Skipping non-existent columns: ['N02910', 'A02910']
Skipping non-existent columns: ['Standar_Ded_Amt']
Warning: Standard deduction columns not found. Skipping standard deduction calculations.
Skipping non-existent columns: ['N02910', 'A02910']
Skipping non-existent columns: ['Standar_Ded_Amt']
Warning: Standard deduction columns not found. Skipping standard deduction calculations.
Skipping non-existent columns: ['N02910', 'A02910']
Skipping non-existent columns: ['Standar_Ded_Amt']
Warning: Standard deduction columns not found. Skipping standard deduction calculations.
Skipping non-existent columns: ['N02910', 'A02910']
Skipping non-existent columns: ['Standar_Ded_Amt']
Warning: Standard deduction columns not found. Skipping standard deduction calculations.
Skipping non-existent columns: ['N02910', 'A02910']
Skipping non-existent columns: ['Standar_Ded_Amt']
Warning: Standard deduction columns not found. Skipping standard deduction calculations.
Skipping non-existent columns: ['mars1', 'N02910', 'A02910']
Skipping non-existent columns: ['Standar_Ded_Amt']
Warning: Standard deduction columns not found. Skipping standard deduction calculations.
Skipping non-existent columns: ['agi_stub', 'mars1', 'A02650', 'N02910', 'A02910']
Skipping non-existent columns: ['Standar_Ded_Amt']
Warning: Standard deduction columns not found. Skipping standard deduction calculations.
Warning: Itemized deduction columns not found. Skipping itemized deduction calculations.

In [1]:
processed_dfs[0].head()
processed_dfs['Deduction_Type'].unique()

NameError: name 'processed_dfs' is not defined