In [1]:
import pandas as pd
import etl_shared
df_short_names = etl_shared.start(etl_shared.etl_Hasmig)

In [2]:
df_short_names.head()

,State,Zip,AGI,Returns,Single,Joint,AGI,Total_Income,Cap_Gain_Returns,Cap_Gain_Amt,...,Med_Dental_Returns,Med_Dental_Amt,Total_Taxes_Returns,Total_Taxes_Amt,Charitable_Returns,Charitable_Amt,Misc_Ded_Returns,Misc_Ded_Amt,Advance_Premium_Returns,Net_Investment_Tax_Amt
0,AL,0,1,720280.0,466930.0,75840.0,9323038.0,9449210.0,37020.0,64524.0,...,4390.0,67120.0,5140.0,11450.0,3220.0,15322.0,170.0,2609.0,59220.0,0.0
1,AL,0,2,524160.0,264900.0,109720.0,18959208.0,19094415.0,38080.0,128686.0,...,10660.0,145487.0,14970.0,44951.0,13240.0,95495.0,1760.0,33245.0,40620.0,0.0
2,AL,0,3,291860.0,120090.0,116380.0,17933235.0,18056325.0,39930.0,210305.0,...,8720.0,119946.0,19590.0,80438.0,17270.0,143381.0,1240.0,20860.0,11870.0,0.0
3,AL,0,4,184320.0,48650.0,115740.0,15990196.0,16092775.0,34910.0,265069.0,...,5220.0,80579.0,16010.0,80303.0,13430.0,133228.0,860.0,15704.0,4190.0,0.0
4,AL,0,5,287720.0,38750.0,234070.0,39500365.0,39796286.0,89550.0,1420250.0,...,7840.0,136108.0,45530.0,324664.0,41580.0,575382.0,2120.0,63090.0,2150.0,34.0